@use "../../../../presets" as *;
@use "../../../../mixins" as *;

.employee {
  display: flex;
  background-color: $color-bg;
  border-radius: 12px;
  gap: 40px;

  @include sm {
    gap: 20px;
  }

  &__photo {
    display: flex;

    &-image {
      height: auto;
      width: 413px;

      @include md {
        width: 313px;
      }

      @include sm {
        display: none;
      }
    }
  }
  
  &__subheader {
    margin-bottom: 5px;
    
    &-link {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 1px;
      color: $color-active;
    }

    &-link:hover {
      opacity: 0.4;
    }

    &-arrow {
      width: 12px;
      height: 12px;
    }
  }

  &__description {
    padding: 40px 30px 20px 0px;

    &-quote {
      @extend %text-liner-gradient;

      font-weight: 700;
      font-size: 42px;
      line-height: 1.1;
      margin-bottom: 20px;

      @include md {
        font-size: 28px;
      }
    }
  }

  &__data {
    display: grid;
    grid-template-areas: "ava name" "ava position";
    justify-content: start;
    align-items: center;

    @include sm {
      column-gap: 10px;
    }
    
    &-ava {
      display: none;
      grid-area: ava;

      @include sm {
        display: block;
      }
    }

    &-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
      color: $color-text;
      margin-bottom: 5px;
      grid-area: name;
      padding-top: 4px;

      @include sm {
        font-size: 16px;
      }
    }

    &-position {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: $color-text;
      grid-area: position;
      padding-bottom: 4px;
    }
  }
}