@use "../../../presets" as *;
@use "../../../mixins" as *;

.actions {
  display: flex;
  align-items: center;
  gap: 10px;

  @include sm-min {
    justify-content: flex-end;
  }

  @include sm {
    justify-content: space-between;
    a {
      color: $color-text;
    }
  }

  &__languages {
    display: flex;
    gap: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
  }

  &__language-link {
    display: block;
    padding: 5px 6px;
    border-radius: 8px;

    &.active {
      background-color: $color-accent;
      color: $color-white;
    }
  }

  &__language-link:hover {
    background-color: $color-accent;
  }

  &__locations {
    @include sm {
      display: none;
    }
  }

  &__location-url:hover {
    color: $color-accent;
  }

  &__phone-url {
    font-weight: 700;
    white-space: nowrap;
  }

  &__phone-url:hover {
    color: $color-accent;
  }

  &__socials {
    @include sm {
      display: none;
    }
  }

  &__social-image {
    font-size: 24px;
    margin: 0;
  }

  &__social-image:hover {
    color: $color-active;
  }
}