@use "../../presets" as *;
@use "../../mixins" as *;


.page-header {
  background: $gradient-soft;

  &__wrap {
    position: absolute;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo actions" "logo menu";
    gap: $gap;

    @extend %container; 
  }

  &__logo {
    grid-area: logo; 
  }

  &__menu {
    grid-area: menu;
  }

  &__actions {
    grid-area: actions;
  }

  &__content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      position: absolute;
      max-width: 800px;
      font-weight: 500;
      font-size: 38px;
      text-align: center;
      color: $color-white;
    }
  }
}