$color-main: #323264;
$color-main-alt: #46466e;
$color-main-soft: #686887;

$color-accent: #f0145a;
$color-active: #24a3ff;

$color-active-hover: #0085ff;
$color-active-pressed: #006ccf;

$color-bg: #f5f5fa;
$color-bg-alt: #ededf7;
$color-text: #b3b3ba;
$color-separator: #e6e6f0;

$color-white: #ffffff;
$color-black: #000000;
