@use "../presets" as *;
@use "../mixins" as *;

.dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: $color-text;

  @include sm {
    display: none;
  }
}

.separator {
  width: 100%;
  height: 4px;
  background-color: $color-separator;
}

.separator {
  width: 100%;
  height: 4px;
  background-color: $color-separator;
}

.xs-hide {
  @include xs {
    display: none;
  }
}


.img-hide {
  .card__img{
    display: none;
  }
}