@use "../presets" as *;
@use "../mixins" as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-family: $font-primary;
  font-size: $font-size; 
}

body {
  line-height: 1.2;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-white;
}


h1 {
  margin: 0;
}